@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

body{
    background-color: #F4ECEF;
    box-sizing: border-box;
}
/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon {
  color: #644348;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon {
  color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;

}

/* style header */

#header-text{
    font-size: 90px;
    font-weight: 600;
    font-family: 'Niconne', cursive;
    color: #e0d6e9;
    text-shadow: 2px 2px 0px  #997782,
                4px 4px 0px #674348,
                6px 6px 0px #00c2cb,
                8px 8px 0px #ff7f50,
                10px 10px 0px #553c9a;
    }
    
/* style product card */
#product-card{
    margin-top: 10px;
    margin: 10px; 
}

